.marqueeContainer {
  height: 100vh;
}

.marqueeContainer p {
  font-size: 400px;
}

.charm {
  font-family: 'Charm', cursive;
}

.gloria {
  font-family: 'Gloria Hallelujah', cursive;
}

.apple {
  font-family: 'Homemade Apple', cursive;
}

.knewave {
  font-family: 'Knewave', cursive;
}

.monoton {
  font-family: 'Monoton', cursive;
}

.start {
  font-family: 'Press Start 2P', cursive;
}

.sriracha {
  font-family: 'Sriracha', cursive;
}

.staatliches {
  font-family: 'Staatliches', cursive;
}
