.square {
  width: 50px;
  height: 20px;
  background-color: black;
  display: inline-flex;
  margin-left: -50px;
}

.line {
  display: block;
}

marquee p {
  display: inline-block;
}

marquee {
  width: 50px;
  overflow: hidden;
  text-align: left;
}
