*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.mainContainer {
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #e3e3e3;
  border: 1px solid #e3e3e3;
}

.header {
  width: 100%;
  padding: 15px 30px;
  background-color: #7847ff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header h1 {
  margin: 10px 0 0 0;
}

.menu {
  list-style: none;
  padding: 5px 30px 10px 30px;
}

.menu a {
  text-decoration: none;
  color: #7847ff;
  font-weight: bolder;
  text-transform: uppercase;
}

.menu a:visited {
  color: #956f96
}
